In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('bestofrt.tsv' ,sep= '\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [28]:
from bs4 import BeautifulSoup

In [40]:
 with open('rt-html/et_the_extraterrestrial.html') as file:
        soup = BeautifulSoup(file,'lxml')

E.T. The Extra-Terrestrial (1982)
E.T. The Extra-Terrestrial (1982)
E.T. The Extra-Terrestrial (1982)
E.T. The Extra-Terrestrial (1982)
E.T. The Extra-Terrestrial (1982)
E.T. The Extra-Terrestrial (1982)
E.T. The Extra-Terrestrial (1982)

In [52]:
df_list = []
folder = 'rt-html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie-html)) as file:
        soup = BeautifulSoup(file,'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div',class_ = 'audience-score meter').find('span').contents[0][:-len('%')]
        num_audience_ratings = soup.find('div',class_ = 'audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',','')
        
        
        # Your code here
        # Note: a correct implementation may take ~15 seconds to run
        
        
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

NameError: name 'os' is not defined

In [50]:
df

,title,audience_score,number_of_audience_ratings
0,E.T. The Extra-Terrestrial (1982),72,32313030
1,E.T. The Extra-Terrestrial (1982),72,32313030
2,E.T. The Extra-Terrestrial (1982),72,32313030
3,E.T. The Extra-Terrestrial (1982),72,32313030
4,E.T. The Extra-Terrestrial (1982),72,32313030
5,E.T. The Extra-Terrestrial (1982),72,32313030
6,E.T. The Extra-Terrestrial (1982),72,32313030